* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 2rem;
    font-size: 2rem;
}

p {
    margin-bottom: 1rem;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
}

.character-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    width: 40rem;
    height: 40rem;
    width: 60%;
}

.hidden {
    display: none;
}

.bounce {
    position: relative;
    animation: bounce 0.3s ease;
}

@keyframes bounce {
    0% { bottom: 0rem; }
    25%, 50% { bottom: 1.5rem; }
    75% { bottom: 0rem; }
    90% { bottom: 0.4rem; }
    100% { bottom: 0rem; }
}

.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 40%;
}

.settings-container > input, .settings-container > select {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: solid 1px gray;
    height: 2rem;
}

.settings-container > label {
    width: 100%;
    margin-bottom: 0.5rem;
}

.settings-checkbox-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.settings-checkbox {
    margin-left: 1rem;
    width: 1.2rem;
    height: 1.2rem;
}

.btn {
    margin: 1rem;
    background: #5e78eb;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
}

.btn:hover {
    background: #4343b8;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
}

.btn-start {
    background: #329432;
}

.btn-start:hover {
    background: #2d6b2d;
}

.btn-stop {
    background: #d64a4a;
}

.btn-stop:hover {
    background: #702626;
}

html .dark {
    background: #141418;
    color: #fdfdfd;
}
